/**Gridline styling**/
.rglb-outer {

	border: 1px dashed rgba(gray, 0.2);
	min-height: 30px;
	transition: 0.05s;

}

/**Set spacing for grid items**/
.wp-block-rglb-row.block-editor-block-list__layout {

	width: 100%;
	max-width: 100%;

	&, .block-list-appender {
		width: 100%;
		max-width: 100%;
	}

	>.wp-block {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		border: 1px solid rgba(gray, 0.1);

	}
}

.wp-block-rglb-container>.block-editor-inner-blocks>div>.wp-block {
	max-width: 100%;
}


.is-selected,
.has-child-selected {

    /*Selected grid styles*/
	.rglb-outer {

		border: 1px dashed gray;
		min-height: 30px;
		padding: 10px;

		&::before {
			content: "column";
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			background: grey;
			line-height: 1;
			font-size: 0.8rem;
			color: white;
			padding: 3px;
			border-radius: 2px;
		}


		&.rglb-row {
			&::before {
				content: "row";
			}
		}

		&.container {
			&::before {
				content: "container";
			}
		}

	}

}